.settings {
    display: inline-block;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
}

.changers {
    display: inline-block;
    width: 250px;
    height: 120px;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
}

.buttons {
    text-align: center;
    box-sizing: border-box;
    width: 250px;
    border: 2px solid blue;
    border-radius: 5px;
    margin: 10px 0 0 0;
}
