.app {
    text-align: center;
}

.counter {
    display: inline-block;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
    margin: 100px;
}

.buttons {
    box-sizing: border-box;
    width: 250px;
    border: 2px solid blue;
    border-radius: 5px;
}